body {
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

div {
    min-height: 100vh;
  }

  a:hover {
    cursor:default ;
  }

.flexbox_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_round_frame {
    height: min(36vmin, 250px);
    border-radius: 50%;
    transition: 300ms ease-in-out;
}

.img_round_frame:hover {
    animation: barrelRoll ;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes barrelRoll {
    100% { transform: rotate(360deg); }
}

#coming_soon {
    font-size: min(4vmin, 30px);
    text-align: center;
    text-transform: uppercase;
}